<% if defined? edit_enabled
    state = ''
    name  = 'review[rating]'
    for i in 1..Spree::Reviews::Config.stars %>
    <input name="<%= name %>"
           type="radio" class="star"
           value="<%= pluralize(i, 'stars') %>"
           <%= 'checked' if i == stars %> />
  <% end %>

<%  else %>
  <div class="partial-stars">
    <%= mk_half_stars(stars) %>
  </div>
<% end %>
